* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

h1 {
    font-size: 40px;
}

h2 {
    text-shadow: 0 0 5px #333;
}

p {
    text-align: justify;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px 1px #000;
    border-radius: 20px;
    background: #111;;
}

body {
    background: #2a2a2a;
}

thead {
    background: linear-gradient(#333, #222);
}

th {
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}

th:first-child {
    border-radius: 20px 0 0 0;
}

th:last-child {
    border-radius: 0 20px 0 0;
}

td:first-child {
    border-radius: 20px 0 0 0;
}

td:last-child {
    border-radius: 0 20px 0 0;
}

tr {
    background: #111;
}

tr:nth-child(2n) {
    background: #333;
}

td, th {
    padding: 10px;
    box-sizing: border-box;
}